<!DOCTYPE html>
<html>
<title>SUShAI App</title>
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='images/favicon.png') }}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Honk">
<body>
    <header>
        <div class="container">
            <a href="{{ url_for('basic.index') }}"><h1>SUShAI</h1></a>
            <div class="nav">
            {% if logged %}
                <a href="{{ url_for('basic.sessions') }}"><i class="fas fa-fish"></i> Sushi Sessions</a>
            {% else %}
                <a href="{{ url_for('basic.login') }}"><i class="fas fa-arrow-right-to-bracket"></i> Login</a>
            {% endif %}
            </div>
            </a>
        </div>
    </header>
    <div class="container">
        {% block content %}{% endblock %}
    </div>
    <footer>
        <strong>SUShAI Web Application</strong> ({{ version }}) - Developed by Beeb89Gang
    </footer>
</body>
</html>
