{% extends 'base.html' %}

{% block content %}
<section class="content">
    <h2>{{ title }}</h2>
    <p class="gray">Create a new sushi session to start taking orders!</p>
    <p class="gray">If you have multiple tables, create separate sessions.</p>
    <h3>New session</h3>
    {% if output %}
    <p class="box bg-{{ output[0] }}">{{ output[1] }}</p>
    {% endif %}
    <form action="{{ url_for('basic.sessions') }}" method="post">
        <fieldset>
            <div class="my-1">
                <input type="text" name="title" placeholder="Sushi session name" class="my-1" maxlength="64" required>
            </div>
            <p class="gray">After creation, sushi session expires in 12 hours.</p>
            <input type="submit" class="my-1" value="Add session">
        </fieldset>
    </form>
    <h3>Available Sessions</h3>
    {% if sessions|length == 0 %}
    <p class="muted"><i class="fa-smile far"></i> No sessions yet</p>
    {% else %}
    <div class="scroll">
        <table>
            <tr>
                <th>Title</th>
                <th>Status</th>
                <th>Creation date</th>
            </tr>
            {% for session in sessions %}
                <tr>
                    <td><a href="{{ url_for('basic.sessions_id', session_id=session.id) }}">{{ session.title|truncate(40) }}</a></td>
                    <td>{% if session.open %}<i class="fas fa-lock-open success"></i> Open{% else %}<i class="fas fa-lock error"></i> Closed{% endif %}</td>
                    <td>{{ session.pretty_date }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
    {% endif %}
</section>
{% endblock %}
